In [1]:
%matplotlib inline
%matplotlib notebook

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

from analyser import *

In [2]:
subs1 = import_submissions(course_id = "C00198", dbname="test1")
subs1.describe()

,submission_uid,user_id,problem_id,submission_id,state,time_out,time_in,veredict,score
count,18790,18790,18790,18790,18790,18790,18790,18790,0.0
unique,18790,72,207,44,1,18607,18657,6,0.0
top,S001457382,U14908,P34091,S001,done,2015-12-07 00:41:29,2015-12-03 12:56:05,AC,NaN
freq,1,1090,258,9357,18790,4,2,9344,NaN
first,NaN,NaN,NaN,NaN,NaN,2010-09-15 15:37:19,2010-09-15 10:38:24,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2016-02-23 21:39:42,2016-02-23 21:39:33,NaN,NaN

In [3]:
a = succes_mat(subs1)

In [4]:
b, c = tots_mats(subs1)

9344

In [24]:
d = b / c
d.fillna(0, inplace=True)

In [10]:
a.head()

,U00214,U12942,U12971,U14881,U14903,U14908,U14913,U14949,U14989,U15243,...,U16384,U16385,U16386,U16388,U16389,U16404,U16409,U16564,U16609,U16688
P25992,1.0,0.50,0.000000,0.0,0.000000,0.052632,0.076923,0.142857,0.5,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.111111,0.0,0.0,0.0
P26374,1.0,1.00,1.000000,1.0,0.000000,0.500000,1.000000,0.750000,0.0,1.0,...,1.0,0.0,1.0,0.0,0.333333,0.0,0.111111,0.0,0.0,0.0
P89979,0.4,1.00,1.000000,0.5,0.000000,1.000000,0.333333,0.200000,0.0,0.5,...,1.0,0.0,1.0,0.0,0.000000,0.0,0.500000,0.0,0.0,0.0
P20262,1.0,1.00,0.500000,0.0,0.000000,0.666667,0.666667,1.000000,0.0,1.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0
P26492,1.0,0.25,0.333333,0.0,0.142857,0.333333,0.500000,0.500000,0.0,1.0,...,1.0,1.0,1.0,1.0,0.000000,0.0,0.333333,0.0,0.0,0.0

In [23]:
d.head()

,U00214,U12942,U12971,U14881,U14903,U14908,U14913,U14949,U14989,U15243,...,U16384,U16385,U16386,U16388,U16389,U16404,U16409,U16564,U16609,U16688
P25992,1.0,0.50,0.000000,0.0,0.000000,0.052632,0.076923,0.142857,0.5,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.111111,0.0,0.0,0.0
P26374,1.0,1.00,1.000000,1.0,0.000000,0.500000,1.000000,0.750000,0.0,1.0,...,1.0,0.0,1.0,0.0,0.333333,0.0,0.111111,0.0,0.0,0.0
P89979,0.4,1.00,1.000000,0.5,0.000000,1.000000,0.333333,0.200000,0.0,0.5,...,1.0,0.0,1.0,0.0,0.000000,0.0,0.500000,0.0,0.0,0.0
P20262,1.0,1.00,0.500000,0.0,0.000000,0.666667,0.666667,1.000000,0.0,1.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0
P26492,1.0,0.25,0.333333,0.0,0.142857,0.333333,0.500000,0.500000,0.0,1.0,...,1.0,1.0,1.0,1.0,0.000000,0.0,0.333333,0.0,0.0,0.0

In [25]:
subs2 = import_all_submissions(dbname="test1")
subs2.describe()

,submission_uid,user_id,problem_id,submission_id,state,time_out,time_in,veredict,score
count,1394765,1394765,1394765,1394765,1394765,1394764,1394765,1394765,5752
unique,1394765,7539,1191,84,2,1302085,1329019,11,47
top,S000805276,U14908,P97156,S001,done,2012-10-16 19:57:44,2006-09-20 09:29:26,AC,100/100
freq,1,2357,21271,522981,1394764,8,10,608361,1612
first,NaN,NaN,NaN,NaN,NaN,2010-07-12 11:07:31,2006-09-09 11:13:56,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2016-02-24 09:24:20,2016-02-24 09:24:15,NaN,NaN

In [27]:
from timeit import default_timer as timer

start = timer()
a = bianary_mat(subs2)
end = timer()
print(end - start), 'seconds'

63.1076910496 seconds

In [28]:
start = timer()
b, c = tots_mats(subs2)
end = timer()
print(end - start), 'seconds'

608361
193.817260027 seconds

In [29]:
start = timer()
d = b / c
d.fillna(0, inplace=True)
end = timer()
print(end - start), 'seconds'

0.25062084198 seconds

In [31]:
d.describe()

,U00006,U00007,U00010,U00011,U00012,U00013,U00014,U00015,U00016,U00017,...,U17083,U17085,U17086,U17087,U17091,U17096,U17098,U17103,U17104,U17106
count,1191.000000,1191.000000,1191.000000,1191.000000,1191.000000,1191.000000,1191.000000,1191.000000,1191.000000,1191.000000,...,1191.000000,1191.000000,1191.0,1191.000000,1191.000000,1191.000000,1191.000000,1191.000000,1191.0,1191.000000
mean,0.016205,0.089072,0.058964,0.031676,0.030658,0.043652,0.008726,0.041008,0.029597,0.006297,...,0.001259,0.000280,0.0,0.000280,0.000420,0.000840,0.000420,0.000420,0.0,0.000840
std,0.121928,0.271560,0.220795,0.160783,0.158575,0.191242,0.083922,0.183027,0.159485,0.077799,...,0.032386,0.009659,0.0,0.009659,0.014488,0.028976,0.014488,0.014488,0.0,0.028976
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.333333,0.0,0.333333,0.500000,1.000000,0.500000,0.500000,0.0,1.000000

In [32]:
e = d.T
e.describe()

,P88760,P12509,P81966,P99583,P94330,P16249,P87812,P57928,P34745,P35814,...,P52382,P78900,P81815,P88048,P23858,P95234,P39417,P23444,P60515,P57129
count,7539.000000,7539.000000,7539.000000,7539.000000,7539.000000,7539.000000,7539.000000,7539.000000,7539.000000,7539.0,...,7539.0,7539.000000,7539.000000,7539.0,7539.0,7539.000000,7539.000000,7539.000000,7539.0,7539.000000
mean,0.041541,0.267300,0.189740,0.001661,0.007325,0.016142,0.001279,0.000748,0.001779,0.0,...,0.0,0.000265,0.000265,0.0,0.0,0.000033,0.000133,0.000019,0.0,0.000033
std,0.180645,0.409497,0.333137,0.035446,0.082388,0.116061,0.029414,0.023944,0.039318,0.0,...,0.0,0.016287,0.016287,0.0,0.0,0.002879,0.011517,0.001645,0.0,0.002879
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
75%,0.000000,0.500000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,...,0.0,1.000000,1.000000,0.0,0.0,0.250000,1.000000,0.142857,0.0,0.250000